<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Applicant</title>
</head>
<body>
    <div>
        <p>Position:</p>
    </div>
    <div>
        <p>Resume Image File:</p>
        <input type="file" name="resume-file">
    </div>
    <div>
        <p>Resume Information:</p>
        <input type="text" name="name" value="name">
        <input type="text" name="email" value="name">
        <input type="text" name="phone" value="name">
        <ul value="Links">
            <li><a href="#">link 1</a></li>
            <li><a href="#">link 2</a></li>
        </ul>
    </div>
    <button>Verify</button>

</body>
</html>