<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Job</title>
</head>
<body>
    <form action="/submit" method="post">
        <div>
            <p>Position:</p>
            <input type="text" name="position">
        </div>
        <div>
            <p>Description:</p>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
        </div>
        <div>
            <p>Responsibility:</p>
            <textarea name="responsibility" id="responsibility" cols="30" rows="10"></textarea>
        </div>
        <div>
            <p>Requirement:</p>
            <textarea name="requirement" id="requirement" cols="30" rows="10"></textarea>
        </div>
        <div>
            <p>Educational Qualification:</p>
            <input type="text" name="educational-qualification">
        </div>
        <button type="submit">Add</button>
    </form>
</body>
</html>