<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add to Position</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    .grid-cell {
      width: 100px;
      height: 100px;
    }

    .input-hint {
      color: #9CA3AF;
      /* Tailwind gray-400 for light hint text */
    }
  </style>
</head>

<body class="bg-gray-100 font-sans">

  <!-- Navigation Bar -->
  <nav class="bg-white shadow">
    <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
      <div class="flex justify-between h-16">
        <div class="flex">
          <div class="flex-shrink-0 flex items-center">
            <span class="font-semibold text-xl tracking-tight">Tabula-Talent</span>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Main Content -->
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">


    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
      <div class="px-4 py-8 sm:px-6">
        <h1 class="text-3xl leading-6 font-medium text-gray-900">Add applicant to Position</h1>
      </div>
      <form action="{{ url_for('applicant_assessment', job_id=job.id) }}" method="post" enctype="multipart/form-data">
        <div class="border-t border-gray-200">
          <dl>
            <div class="bg-gray-50 px-4 py-5 xl:grid xl:grid-cols-3 xl:gap-4 xl:px-6">
              <dt class="mt-2 text-xl font-medium text-gray-500 flex items-center">Position:</dt>
              <dd class="text-xl text-gray-900 xl:mt-0 xl:col-span-2"><input type="text" value="{{ job.position }}"
                  class="border border-gray-300 p-2 rounded-md w-full" disabled></dd>
            </div>
            <div class="bg-white px-4 py-5 xl:grid xl:grid-cols-3 xl:gap-4 xl:px-6">
              <dt class="mt-2 text-xl font-medium text-gray-500 flex items-center">Resume:</dt>
              <dd class="text-xl text-gray-900 xl:mt-0 xl:col-span-2"> <input type="file" id="resume" name="resume"
                  accept="image/*" enctype="multipart/form-data" class="border border-gray-300 p-2 rounded-md w-full">
                <p class="input-hint">The information below will be automatically filled after scanning the resume.</p>
              </dd>
            </div>

            <div class="bg-gray-50 px-4 py-5 xl:grid xl:grid-cols-3 xl:gap-4 xl:px-6">
              <dt class="mt-2 text-xl font-medium text-gray-500 flex items-center">Applicant:</dt>
              <dd class="text-xl text-gray-900 xl:mt-0 xl:col-span-2"><input type="text" value="{{ applicant.name }}"
                  class="border border-gray-300 p-2 rounded-md w-full"></dd>
            </div>
            <div class="bg-white px-4 py-5 xl:grid xl:grid-cols-3 xl:gap-4 xl:px-6">
              <dt class="mt-2 text-xl font-medium text-gray-500 flex items-center">Email:</dt>
              <dd class="text-xl text-gray-900 xl:mt-0 xl:col-span-2"><input type="email" value="{{ applicant.email }}"
                  class="border border-gray-300 p-2 rounded-md w-full"></dd>
            </div>
            <div class="bg-gray-50 px-4 py-5 xl:grid xl:grid-cols-3 xl:gap-4 xl:px-6">
              <dt class="mt-2 text-xl font-medium text-gray-500 flex items-center">Phone:</dt>
              <dd class="text-xl text-gray-900 xl:mt-0 xl:col-span-2"><input type="tel" value="{{ applicant.phone }}"
                  class="border border-gray-300 p-2 rounded-md w-full"></dd>
            </div>
            <div class="bg-white px-4 py-5 xl:grid xl:grid-cols-3 xl:gap-4 xl:px-6">
              <dt class="mt-2 text-xl font-medium text-gray-500 flex items-center flex items-center">Links:</dt>
              <dd class="text-xl text-gray-900 xl:mt-0 xl:col-span-2">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-blue-200">
                    <tr>
                      <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-black uppercase tracking-wider text-center">
                        Links
                      </th>
                      <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-black uppercase tracking-wider text-center">
                        URL
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                    {% if applicant.link %}
                      {% for link_name, hyperlink in applicant.link.items() %}
                      <tr>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <div class="text-sm text-gray-900 text-center font-bold">{{ link_name }}</div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-center">
                          <a href="{{ hyperlink }}" class="text-blue-500 text-sm">{{ hyperlink }}</a>
                        </td>
                      </tr>
                      {% endfor %}
                    {% else %}
                      <tr>
                      </tr>
                    {% endif %}
                  </tbody>
                </table>
              </dd>
            </div>

          </dl>
        </div>
      <button id="verifyBtn"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-4 my-8">Verify</button>
      </form>
    </div>

    <div id="scoreModal" class="my-4">
      <h3 class="text-xl font-semibold mb-2">Show Score</h3>
      <table class="table-fixed border-collapse border border-gray-300 mx-auto mb-4">
        <tr>
          <td class="border border-gray-300 px-4 py-2">Right Position:</td>
          <td class="border border-gray-300 px-4 py-2">{{ "Yes" if job.id == applicant.job_id else "No" }}</td>
        </tr>
        <tr>
          <td class="border border-gray-300 px-4 py-2">Skill Score:</td>
          <td class="border border-gray-300 px-4 py-2">{{ applicant.skill_score }}</td>
        </tr>
        <tr>
          <td class="border border-gray-300 px-4 py-2">Experience Score:</td>
          <td class="border border-gray-300 px-4 py-2">{{ applicant.experience_score }}</td>
        </tr>
      </table>
      <div class="flex">
        <form action="{{ url_for('add_applicant_submit', job_id=job.id) }}" method="post">
          <button name="submit-applicant" value="{{ applicant.jsonify() }}"
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2">Add to
            Database</button>
        </form>
        <button onclick="window.location.href='/add_applicant/{{ job.id }}'"
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Discard</button>
      </div>
    </div>
  </div>

  <script>
    document.getElementById('verifyBtn').addEventListener('click', function () {
      document.getElementById('scoreModal').classList.toggle('hidden');
    });
  </script>

</body>

</html>